#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 20;
  background-color: white;
}

.times {
  color: MediumAquamarine;
  display: flex;
  flex-grow: 1;
  padding: 10px 30px;
  align-items: center;
}

#time {
  padding-left: 10px;
}

nav span{
  display: inline-block;
  padding: 10px 10px;
  text-decoration: underline;
}

.column.left{
  width: 630px;
  display: flex;
}

.column.center{
  width: 300px;
  display: flex;
}

.column.right {
  width: 240px;
  display: flex;
}

#content div {
  border: 1px solid black;

}

#content{
  display: flex;
  padding: 80px 20px 0px 20px;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
