#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 20;
  background-color: white;
}

.times {
  color: MediumAquamarine;
  display: flex;
  flex-grow: 1;
  padding: 10px 30px;
  align-items: center;
}

#time {
  padding-left: 10px;
}

nav span{
  display: inline-block;
  padding: 10px 10px;
  text-decoration: underline;
}

.left{
  width: 630px;
  justify-content: flex-start;
  padding-right: 60px;
}

.center{
  width: 300px;
  padding-right: 60px;

}

.right {
  width: 240px;
  justify-content: flex-end;
  flex-direction: column;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

#burger {
  margin-left: 20px;
}

#interdum {
  margin-left: 20px;
}

#content{
  display: flex;
  padding: 80px 20px 0px 20px;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
}

  #mother {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  p {
    font-family: Georgia;
    font-size: 17px;
    color: black;
  }

h1 {
  font-family: Georgia;
  font-size: 28px;
  color: black;
  font-weight: bold;
}

#picture1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
}

#picture2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
}

#picture3 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
  text-align: center;
}

#news-bites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 41px;
}

#cat {
 background-color: WhiteSmoke;
 font-family: Verdana;
 font-size: 12px;
 color: DimGray;
 height: 320px;
 display: flex;
 flex-direction: column;
 align-items: stretch;
}

#cat span {
  border-bottom: 1px solid black;
  align-items: center;
  height: 20px;
  padding: 11px 20px;
}

#footer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  margin-top: 60px;
  width: 100%;
}

#mytimes{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
